body {
	margin: 0;
	background-color: #e7e7e7;
}

.ProductId {
	position: absolute;
	padding: 8px;
	background-color: #0288d1;
	color: white;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 4px;
}

#ToUpArrow {
	position: fixed;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	bottom: 10vh;
	right: 6vw;
	animation: up 1s linear;
}

@keyframes up {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.Basket {
	width: 30vw;
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1801px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.Basket {
		width: 40vw;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.Basket {
		width: 50vw;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	.Basket {
		width: 100vw;
	}
	#ToUpArrow {
		top: 1vh;
	}
	#Pagination {
		display: flex;
		justify-content: center;
	}
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
	#Pagination {
		display: flex;
		justify-content: center;
		margin: 0 -10px;
	}
	#Pagination button {
		margin: 0;
	}
}
